.hidden {
    display: none;
}

#menu, #messages {
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
}

#menu {
    top: 0;
    right: 0;
}

#messages {
    bottom: 0;
    left: 0;
    width: 320px;
}

.message {
    animation-duration: 5s;
    animation-name: halffade;
    animation-fill-mode: forwards;
}

.menu-item {
    display: flex;
    justify-content: space-between;
}

@keyframes halffade {
    0% {
        opacity: 1.0;
    }

    20% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.5;
    }
}

#loading {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
}

body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    overflow: hidden;
    touch-action: none;
    padding: 0;
    margin: 0;
}

canvas {
    touch-action: none;
}
